# This workflow will build and a release Java project to the Maven-Central repository

name: Release to Maven-Central

on:
  workflow_dispatch

env:
  MAVEN_ARGS: --batch-mode --no-transfer-progress

jobs:
  maven-perform-release:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.ref == 'refs/heads/migrate-to-central-portal'

    steps:
    - uses: actions/checkout@v6

    - name: Set up Java for deployment
      uses: ./.github/actions/setup-java-for-deployment
      with:
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
    
    - name: Configure git user
      run: |
        git config user.email "actions-bot@github.com"
        git config user.name "GitHub Actions (run by ${{ github.actor }})"

    # Perform the usual maven-release-plugin procedure, but prevent the release commits
    # and tag from being pushed to the master immediately. They are only pushed after
    # the release is performed successfully. This avoids to have the release
    # commits on the master in case release publication fails in the last step.
    # All file-system/git-operations are performed on the runnner's clone of this repo

    - run: mvn release:clean release:prepare -DpushChanges=false
      working-directory: symja_android_library

    - name: Read release version
      run: | # Create environment variables associcated to release version, derived from the release tag
        releaseGitTag=$(git describe --abbrev=0)
        echo "release_tag=${releaseGitTag}" >> $GITHUB_ENV
        echo "release_version=${releaseGitTag#v}" >> $GITHUB_ENV

    # Edit the 'release' commit with updates of the changelog:
    - name: Checkout release commit
      run: git checkout ${{ env.release_tag }} # headless checkout!

    - name: Finalize changelog entry
      uses: stefanzweifel/changelog-updater-action@v1
      id: "update-changelog"
      with:
        latest-version: ${{ env.release_tag }}
        #release-notes: 'A new version of Symja'

    - name: Amend release commit and tag and cherry-pick preparation commit
      run: |
        git add CHANGELOG.md
        git commit --amend --no-edit
        git tag -a ${{ env.release_tag }} -f -m "Symja ${{ env.release_version }}" # reset tag to amended release commit
        git cherry-pick migrate-to-central-portal

    - name: Push ${{ env.release_version }} release commits to draft branch
      # Save the commits from which the release is build in the main repository
      # but only on a temporary draft branch. This way the release commits 
      # are not on the master in case performing/publishing the release fails
      run: git push origin HEAD:refs/heads/draft_${{ env.release_version }}

    - run: mvn release:perform -DlocalCheckout=true
      working-directory: symja_android_library
      # Deployment of all modules is deferred to the last module by central-publishing-maven-plugin
      env:
        MAVEN_USERNAME: ${{ secrets.CENTRAL_PORTAL_TOKEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.CENTRAL_PORTAL_TOKEN_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

    - uses: actions/upload-artifact@v4
      with:
        name: Release assest
        path: './symja_android_library/target/checkout/symja_android_library/target/central-staging/**/*.jar'

    - uses: actions/upload-artifact@v4
      with:
        name: Target Content
        path: '**/target/*'

